# Data Preprocessing 

- Data preprocessing is a process of preparing the raw data and making it suitable for a machine learning model. It is the first and crucial step while creating a machine learning model.



- When creating a machine learning project, it is not always a case that we come across the clean and formatted data. 



- And while doing any operation with data, it is mandatory to clean it and put in a formatted way. So for this, we use data preprocessing task.

In [3]:
import pandas as pd
s = pd.Series(['10','20','30'])
s

0    10
1    20
2    30
dtype: object

In [4]:
s.astype(int)+100

0    110
1    120
2    130
dtype: int32

# What is the need of Data Preprocessing?

o A real-world data generally contains noises, missing values, and maybe in an unusable format which cannot be directly used for machine learning models. 


o Data preprocessing is required tasks for cleaning the data and making it suitable for a machine learning model which also increases the accuracy and efficiency of a machine learning model.

#### It involves below steps:

    Finding Missing Data
    Encoding Categorical Data
    Splitting dataset into training and test set
    Feature scaling

In [5]:
import numpy as np
import pandas as pd

In [6]:
#country , age and salary
data = [['India',np.nan,68000.0],  
    ['France',43.0,45000.0],  
 [np.nan,30.0, 54000.0],  
 ['France' ,48.0, 65000.0], 
 ['Germany' ,40.0, np. nan],  
 ['India' ,35.0, 58000.0],  
 ['Germany', np.nan ,53000.0],  
 ['France' ,49.0, 79000.0],  
 ['India', 50.0 ,88000.0],  
 [np.nan ,37.0, np.nan]]

In [7]:
df = pd.DataFrame(data)
df

         0     1        2
0    India   NaN  68000.0
1   France  43.0  45000.0
2      NaN  30.0  54000.0
3   France  48.0  65000.0
4  Germany  40.0      NaN
5    India  35.0  58000.0
6  Germany   NaN  53000.0
7   France  49.0  79000.0
8    India  50.0  88000.0
9      NaN  37.0      NaN

In [ ]:
#Assignment: Convert above DataFrame into csv file and check what happens to NaN values

In [8]:
#check null values
df.isna().sum()

0    2
1    2
2    2
dtype: int64

In [ ]:
#Assiggnment: check library missingno
# Plot the NaN present in your dataset

# Ways to handle missing data:

#### There are mainly two ways to handle missing data, which are:

- *By deleting the particular row:* The first way is used to commonly deal with null values. In this way, we just delete the specific row or column which consists of null values. But this way is not so efficient and removing data may lead to loss of information which will not give the accurate output.




- *By calculating the mean:* In this way, we will calculate the mean of that column or row which contains any missing value and will put it on the place of missing value. This strategy is useful for the features which have numeric data such as age, salary, etc. Here, we will use this approach.

#Using pandas which options are availabel to fill the missing entries:
ffill/pad, backfill/bfill
fillna()
dropna()

In [10]:
df.fillna('missing')

         0        1        2
0    India  missing  68000.0
1   France     43.0  45000.0
2  missing     30.0  54000.0
3   France     48.0  65000.0
4  Germany     40.0  missing
5    India     35.0  58000.0
6  Germany  missing  53000.0
7   France     49.0  79000.0
8    India     50.0  88000.0
9  missing     37.0  missing

In [14]:
# only use first column to fill missing entries
df.iloc[:,0].fillna('unknown')

0      India
1     France
2    unknown
3     France
4    Germany
5      India
6    Germany
7     France
8      India
9    unknown
Name: 0, dtype: object

In [16]:
# second column we have is age hence we need to replace
# NaN values using average(mean) age
df.iloc[:,1].mean()

41.5

In [18]:
#this is age column hence we have to fill using mean()
# df.iloc[:,1].mean()
df.iloc[:,1].fillna(42)

0    42.0
1    43.0
2    30.0
3    48.0
4    40.0
5    35.0
6    42.0
7    49.0
8    50.0
9    37.0
Name: 1, dtype: float64

In [20]:
# ffill/pad---> forward filling
#df.iloc[:,1].fillna(method='ffill')
df.iloc[:,1].fillna(method='pad')

0     NaN
1    43.0
2    30.0
3    48.0
4    40.0
5    35.0
6    35.0
7    49.0
8    50.0
9    37.0
Name: 1, dtype: float64

In [22]:
df.iloc[:,2].fillna(method='ffill')

0    68000.0
1    45000.0
2    54000.0
3    65000.0
4    65000.0
5    58000.0
6    53000.0
7    79000.0
8    88000.0
9    88000.0
Name: 2, dtype: float64

In [24]:
# bfill/backfill --> backward filling means fill Nan by taking bottom value
df.iloc[:,1].fillna(method='bfill')

0    43.0
1    43.0
2    30.0
3    48.0
4    40.0
5    35.0
6    49.0
7    49.0
8    50.0
9    37.0
Name: 1, dtype: float64

In [26]:
df.iloc[:,2].fillna(method='bfill')

0    68000.0
1    45000.0
2    54000.0
3    65000.0
4    58000.0
5    58000.0
6    53000.0
7    79000.0
8    88000.0
9        NaN
Name: 2, dtype: float64

In [27]:
df.iloc[:,0].value_counts()

India      3
France     3
Germany    2
Name: 0, dtype: int64

In [28]:
df.iloc[:,0].mode()

0    France
1     India
dtype: object

In [29]:
df.iloc[:,0].fillna('India')

0      India
1     France
2      India
3     France
4    Germany
5      India
6    Germany
7     France
8      India
9      India
Name: 0, dtype: object

# SimpleImputer

In [30]:
from sklearn.impute import SimpleImputer 
#handling missing data (Replacing missing data with the mean value
#in respective column) 

#create an object of SimpleImputer
si = SimpleImputer()
#Other missing examples: -999 -99 -1 -111 NA==> missing data

In [ ]:
"""
The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
      If there is more than one such value, only the smallest is returned.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.
"""

In [31]:
si

SimpleImputer()

In [32]:
#Fitting imputer object to the independent variables x with numeric dtype 
ndf = df.select_dtypes(exclude='object')
ndf

      1        2
0   NaN  68000.0
1  43.0  45000.0
2  30.0  54000.0
3  48.0  65000.0
4  40.0      NaN
5  35.0  58000.0
6   NaN  53000.0
7  49.0  79000.0
8  50.0  88000.0
9  37.0      NaN

In [33]:
si.fit(ndf)

SimpleImputer()

In [34]:
#fit means training 
#it gives information about data u supplied
si.missing_values

nan

In [35]:
si.n_features_in_

2

In [36]:
si.strategy

'mean'

In [37]:
ndf

      1        2
0   NaN  68000.0
1  43.0  45000.0
2  30.0  54000.0
3  48.0  65000.0
4  40.0      NaN
5  35.0  58000.0
6   NaN  53000.0
7  49.0  79000.0
8  50.0  88000.0
9  37.0      NaN

In [38]:
#Replacing missing data with the calculated mean value using transform
si.transform(ndf)

array([[4.150e+01, 6.800e+04],
       [4.300e+01, 4.500e+04],
       [3.000e+01, 5.400e+04],
       [4.800e+01, 6.500e+04],
       [4.000e+01, 6.375e+04],
       [3.500e+01, 5.800e+04],
       [4.150e+01, 5.300e+04],
       [4.900e+01, 7.900e+04],
       [5.000e+01, 8.800e+04],
       [3.700e+01, 6.375e+04]])

In [40]:
ndf.mean()

1       41.5
2    63750.0
dtype: float64

In [43]:
# if we want to perform fit and transform together?
si.fit_transform(ndf)

array([[4.150e+01, 6.800e+04],
       [4.300e+01, 4.500e+04],
       [3.000e+01, 5.400e+04],
       [4.800e+01, 6.500e+04],
       [4.000e+01, 6.375e+04],
       [3.500e+01, 5.800e+04],
       [4.150e+01, 5.300e+04],
       [4.900e+01, 7.900e+04],
       [5.000e+01, 8.800e+04],
       [3.700e+01, 6.375e+04]])

In [50]:
import seaborn as sns
t = sns.load_dataset('titanic')
t.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [52]:
t[['age']].mean()

age    29.699118
dtype: float64

In [51]:
si.fit_transform(t[['age']])

array([[22.        ],
       [38.        ],
       [26.        ],
       [35.        ],
       [35.        ],
       [29.69911765],
       [54.        ],
       [ 2.        ],
       [27.        ],
       [14.        ],
       [ 4.        ],
       [58.        ],
       [20.        ],
       [39.        ],
       [14.        ],
       [55.        ],
       [ 2.        ],
       [29.69911765],
       [31.        ],
       [29.69911765],
       [35.        ],
       [34.        ],
       [15.        ],
       [28.        ],
       [ 8.        ],
       [38.        ],
       [29.69911765],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [40.        ],
       [29.69911765],
       [29.69911765],
       [66.        ],
       [28.        ],
       [42.        ],
       [29.69911765],
       [21.        ],
       [18.        ],
       [14.        ],
       [40.        ],
       [27.        ],
       [29.69911765],
       [ 3.        ],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [18.        ],
       [ 7.        ],
       [21.        ],
       [49.        ],
       [29.        ],
       [65.        ],
       [29.69911765],
       [21.        ],
       [28.5       ],
       [ 5.        ],
       [11.        ],
       [22.        ],
       [38.        ],
       [45.        ],
       [ 4.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [19.        ],
       [17.        ],
       [26.        ],
       [32.        ],
       [16.        ],
       [21.        ],
       [26.        ],
       [32.        ],
       [25.        ],
       [29.69911765],
       [29.69911765],
       [ 0.83      ],
       [30.        ],
       [22.        ],
       [29.        ],
       [29.69911765],
       [28.        ],
       [17.        ],
       [33.        ],
       [16.        ],
       [29.69911765],
       [23.        ],
       [24.        ],
       [29.        ],
       [20.        ],
       [46.        ],
       [26.        ],
       [59.        ],
       [29.69911765],
       [71.        ],
       [23.        ],
       [34.        ],
       [34.        ],
       [28.        ],
       [29.69911765],
       [21.        ],
       [33.        ],
       [37.        ],
       [28.        ],
       [21.        ],
       [29.69911765],
       [38.        ],
       [29.69911765],
       [47.        ],
       [14.5       ],
       [22.        ],
       [20.        ],
       [17.        ],
       [21.        ],
       [70.5       ],
       [29.        ],
       [24.        ],
       [ 2.        ],
       [21.        ],
       [29.69911765],
       [32.5       ],
       [32.5       ],
       [54.        ],
       [12.        ],
       [29.69911765],
       [24.        ],
       [29.69911765],
       [45.        ],
       [33.        ],
       [20.        ],
       [47.        ],
       [29.        ],
       [25.        ],
       [23.        ],
       [19.        ],
       [37.        ],
       [16.        ],
       [24.        ],
       [29.69911765],
       [22.        ],
       [24.        ],
       [19.        ],
       [18.        ],
       [19.        ],
       [27.        ],
       [ 9.        ],
       [36.5       ],
       [42.        ],
       [51.        ],
       [22.        ],
       [55.5       ],
       [40.5       ],
       [29.69911765],
       [51.        ],
       [16.        ],
       [30.        ],
       [29.69911765],
       [29.69911765],
       [44.        ],
       [40.        ],
       [26.        ],
       [17.        ],
       [ 1.        ],
       [ 9.        ],
       [29.69911765],
       [45.        ],
       [29.69911765],
       [28.        ],
       [61.        ],
       [ 4.        ],
       [ 1.        ],
       [21.        ],
       [56.        ],
       [18.        ],
       [29.69911765],
       [50.        ],
       [30.        ],
       [36.        ],
       [29.69911765],
       [29.69911765],
       [ 9.        ],
       [ 1.        ],
       [ 4.        ],
       [29.69911765],
       [29.69911765],
       [45.        ],
       [40.        ],
       [36.        ],
       [32.        ],
       [19.        ],
       [19.        ],
       [ 3.        ],
       [44.        ],
       [58.        ],
       [29.69911765],
       [42.        ],
       [29.69911765],
       [24.        ],
       [28.        ],
       [29.69911765],
       [34.        ],
       [45.5       ],
       [18.        ],
       [ 2.        ],
       [32.        ],
       [26.        ],
       [16.        ],
       [40.        ],
       [24.        ],
       [35.        ],
       [22.        ],
       [30.        ],
       [29.69911765],
       [31.        ],
       [27.        ],
       [42.        ],
       [32.        ],
       [30.        ],
       [16.        ],
       [27.        ],
       [51.        ],
       [29.69911765],
       [38.        ],
       [22.        ],
       [19.        ],
       [20.5       ],
       [18.        ],
       [29.69911765],
       [35.        ],
       [29.        ],
       [59.        ],
       [ 5.        ],
       [24.        ],
       [29.69911765],
       [44.        ],
       [ 8.        ],
       [19.        ],
       [33.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [22.        ],
       [30.        ],
       [44.        ],
       [25.        ],
       [24.        ],
       [37.        ],
       [54.        ],
       [29.69911765],
       [29.        ],
       [62.        ],
       [30.        ],
       [41.        ],
       [29.        ],
       [29.69911765],
       [30.        ],
       [35.        ],
       [50.        ],
       [29.69911765],
       [ 3.        ],
       [52.        ],
       [40.        ],
       [29.69911765],
       [36.        ],
       [16.        ],
       [25.        ],
       [58.        ],
       [35.        ],
       [29.69911765],
       [25.        ],
       [41.        ],
       [37.        ],
       [29.69911765],
       [63.        ],
       [45.        ],
       [29.69911765],
       [ 7.        ],
       [35.        ],
       [65.        ],
       [28.        ],
       [16.        ],
       [19.        ],
       [29.69911765],
       [33.        ],
       [30.        ],
       [22.        ],
       [42.        ],
       [22.        ],
       [26.        ],
       [19.        ],
       [36.        ],
       [24.        ],
       [24.        ],
       [29.69911765],
       [23.5       ],
       [ 2.        ],
       [29.69911765],
       [50.        ],
       [29.69911765],
       [29.69911765],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [ 0.92      ],
       [29.69911765],
       [17.        ],
       [30.        ],
       [30.        ],
       [24.        ],
       [18.        ],
       [26.        ],
       [28.        ],
       [43.        ],
       [26.        ],
       [24.        ],
       [54.        ],
       [31.        ],
       [40.        ],
       [22.        ],
       [27.        ],
       [30.        ],
       [22.        ],
       [29.69911765],
       [36.        ],
       [61.        ],
       [36.        ],
       [31.        ],
       [16.        ],
       [29.69911765],
       [45.5       ],
       [38.        ],
       [16.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [41.        ],
       [45.        ],
       [45.        ],
       [ 2.        ],
       [24.        ],
       [28.        ],
       [25.        ],
       [36.        ],
       [24.        ],
       [40.        ],
       [29.69911765],
       [ 3.        ],
       [42.        ],
       [23.        ],
       [29.69911765],
       [15.        ],
       [25.        ],
       [29.69911765],
       [28.        ],
       [22.        ],
       [38.        ],
       [29.69911765],
       [29.69911765],
       [40.        ],
       [29.        ],
       [45.        ],
       [35.        ],
       [29.69911765],
       [30.        ],
       [60.        ],
       [29.69911765],
       [29.69911765],
       [24.        ],
       [25.        ],
       [18.        ],
       [19.        ],
       [22.        ],
       [ 3.        ],
       [29.69911765],
       [22.        ],
       [27.        ],
       [20.        ],
       [19.        ],
       [42.        ],
       [ 1.        ],
       [32.        ],
       [35.        ],
       [29.69911765],
       [18.        ],
       [ 1.        ],
       [36.        ],
       [29.69911765],
       [17.        ],
       [36.        ],
       [21.        ],
       [28.        ],
       [23.        ],
       [24.        ],
       [22.        ],
       [31.        ],
       [46.        ],
       [23.        ],
       [28.        ],
       [39.        ],
       [26.        ],
       [21.        ],
       [28.        ],
       [20.        ],
       [34.        ],
       [51.        ],
       [ 3.        ],
       [21.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [33.        ],
       [29.69911765],
       [44.        ],
       [29.69911765],
       [34.        ],
       [18.        ],
       [30.        ],
       [10.        ],
       [29.69911765],
       [21.        ],
       [29.        ],
       [28.        ],
       [18.        ],
       [29.69911765],
       [28.        ],
       [19.        ],
       [29.69911765],
       [32.        ],
       [28.        ],
       [29.69911765],
       [42.        ],
       [17.        ],
       [50.        ],
       [14.        ],
       [21.        ],
       [24.        ],
       [64.        ],
       [31.        ],
       [45.        ],
       [20.        ],
       [25.        ],
       [28.        ],
       [29.69911765],
       [ 4.        ],
       [13.        ],
       [34.        ],
       [ 5.        ],
       [52.        ],
       [36.        ],
       [29.69911765],
       [30.        ],
       [49.        ],
       [29.69911765],
       [29.        ],
       [65.        ],
       [29.69911765],
       [50.        ],
       [29.69911765],
       [48.        ],
       [34.        ],
       [47.        ],
       [48.        ],
       [29.69911765],
       [38.        ],
       [29.69911765],
       [56.        ],
       [29.69911765],
       [ 0.75      ],
       [29.69911765],
       [38.        ],
       [33.        ],
       [23.        ],
       [22.        ],
       [29.69911765],
       [34.        ],
       [29.        ],
       [22.        ],
       [ 2.        ],
       [ 9.        ],
       [29.69911765],
       [50.        ],
       [63.        ],
       [25.        ],
       [29.69911765],
       [35.        ],
       [58.        ],
       [30.        ],
       [ 9.        ],
       [29.69911765],
       [21.        ],
       [55.        ],
       [71.        ],
       [21.        ],
       [29.69911765],
       [54.        ],
       [29.69911765],
       [25.        ],
       [24.        ],
       [17.        ],
       [21.        ],
       [29.69911765],
       [37.        ],
       [16.        ],
       [18.        ],
       [33.        ],
       [29.69911765],
       [28.        ],
       [26.        ],
       [29.        ],
       [29.69911765],
       [36.        ],
       [54.        ],
       [24.        ],
       [47.        ],
       [34.        ],
       [29.69911765],
       [36.        ],
       [32.        ],
       [30.        ],
       [22.        ],
       [29.69911765],
       [44.        ],
       [29.69911765],
       [40.5       ],
       [50.        ],
       [29.69911765],
       [39.        ],
       [23.        ],
       [ 2.        ],
       [29.69911765],
       [17.        ],
       [29.69911765],
       [30.        ],
       [ 7.        ],
       [45.        ],
       [30.        ],
       [29.69911765],
       [22.        ],
       [36.        ],
       [ 9.        ],
       [11.        ],
       [32.        ],
       [50.        ],
       [64.        ],
       [19.        ],
       [29.69911765],
       [33.        ],
       [ 8.        ],
       [17.        ],
       [27.        ],
       [29.69911765],
       [22.        ],
       [22.        ],
       [62.        ],
       [48.        ],
       [29.69911765],
       [39.        ],
       [36.        ],
       [29.69911765],
       [40.        ],
       [28.        ],
       [29.69911765],
       [29.69911765],
       [24.        ],
       [19.        ],
       [29.        ],
       [29.69911765],
       [32.        ],
       [62.        ],
       [53.        ],
       [36.        ],
       [29.69911765],
       [16.        ],
       [19.        ],
       [34.        ],
       [39.        ],
       [29.69911765],
       [32.        ],
       [25.        ],
       [39.        ],
       [54.        ],
       [36.        ],
       [29.69911765],
       [18.        ],
       [47.        ],
       [60.        ],
       [22.        ],
       [29.69911765],
       [35.        ],
       [52.        ],
       [47.        ],
       [29.69911765],
       [37.        ],
       [36.        ],
       [29.69911765],
       [49.        ],
       [29.69911765],
       [49.        ],
       [24.        ],
       [29.69911765],
       [29.69911765],
       [44.        ],
       [35.        ],
       [36.        ],
       [30.        ],
       [27.        ],
       [22.        ],
       [40.        ],
       [39.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [35.        ],
       [24.        ],
       [34.        ],
       [26.        ],
       [ 4.        ],
       [26.        ],
       [27.        ],
       [42.        ],
       [20.        ],
       [21.        ],
       [21.        ],
       [61.        ],
       [57.        ],
       [21.        ],
       [26.        ],
       [29.69911765],
       [80.        ],
       [51.        ],
       [32.        ],
       [29.69911765],
       [ 9.        ],
       [28.        ],
       [32.        ],
       [31.        ],
       [41.        ],
       [29.69911765],
       [20.        ],
       [24.        ],
       [ 2.        ],
       [29.69911765],
       [ 0.75      ],
       [48.        ],
       [19.        ],
       [56.        ],
       [29.69911765],
       [23.        ],
       [29.69911765],
       [18.        ],
       [21.        ],
       [29.69911765],
       [18.        ],
       [24.        ],
       [29.69911765],
       [32.        ],
       [23.        ],
       [58.        ],
       [50.        ],
       [40.        ],
       [47.        ],
       [36.        ],
       [20.        ],
       [32.        ],
       [25.        ],
       [29.69911765],
       [43.        ],
       [29.69911765],
       [40.        ],
       [31.        ],
       [70.        ],
       [31.        ],
       [29.69911765],
       [18.        ],
       [24.5       ],
       [18.        ],
       [43.        ],
       [36.        ],
       [29.69911765],
       [27.        ],
       [20.        ],
       [14.        ],
       [60.        ],
       [25.        ],
       [14.        ],
       [19.        ],
       [18.        ],
       [15.        ],
       [31.        ],
       [ 4.        ],
       [29.69911765],
       [25.        ],
       [60.        ],
       [52.        ],
       [44.        ],
       [29.69911765],
       [49.        ],
       [42.        ],
       [18.        ],
       [35.        ],
       [18.        ],
       [25.        ],
       [26.        ],
       [39.        ],
       [45.        ],
       [42.        ],
       [22.        ],
       [29.69911765],
       [24.        ],
       [29.69911765],
       [48.        ],
       [29.        ],
       [52.        ],
       [19.        ],
       [38.        ],
       [27.        ],
       [29.69911765],
       [33.        ],
       [ 6.        ],
       [17.        ],
       [34.        ],
       [50.        ],
       [27.        ],
       [20.        ],
       [30.        ],
       [29.69911765],
       [25.        ],
       [25.        ],
       [29.        ],
       [11.        ],
       [29.69911765],
       [23.        ],
       [23.        ],
       [28.5       ],
       [48.        ],
       [35.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [36.        ],
       [21.        ],
       [24.        ],
       [31.        ],
       [70.        ],
       [16.        ],
       [30.        ],
       [19.        ],
       [31.        ],
       [ 4.        ],
       [ 6.        ],
       [33.        ],
       [23.        ],
       [48.        ],
       [ 0.67      ],
       [28.        ],
       [18.        ],
       [34.        ],
       [33.        ],
       [29.69911765],
       [41.        ],
       [20.        ],
       [36.        ],
       [16.        ],
       [51.        ],
       [29.69911765],
       [30.5       ],
       [29.69911765],
       [32.        ],
       [24.        ],
       [48.        ],
       [57.        ],
       [29.69911765],
       [54.        ],
       [18.        ],
       [29.69911765],
       [ 5.        ],
       [29.69911765],
       [43.        ],
       [13.        ],
       [17.        ],
       [29.        ],
       [29.69911765],
       [25.        ],
       [25.        ],
       [18.        ],
       [ 8.        ],
       [ 1.        ],
       [46.        ],
       [29.69911765],
       [16.        ],
       [29.69911765],
       [29.69911765],
       [25.        ],
       [39.        ],
       [49.        ],
       [31.        ],
       [30.        ],
       [30.        ],
       [34.        ],
       [31.        ],
       [11.        ],
       [ 0.42      ],
       [27.        ],
       [31.        ],
       [39.        ],
       [18.        ],
       [39.        ],
       [33.        ],
       [26.        ],
       [39.        ],
       [35.        ],
       [ 6.        ],
       [30.5       ],
       [29.69911765],
       [23.        ],
       [31.        ],
       [43.        ],
       [10.        ],
       [52.        ],
       [27.        ],
       [38.        ],
       [27.        ],
       [ 2.        ],
       [29.69911765],
       [29.69911765],
       [ 1.        ],
       [29.69911765],
       [62.        ],
       [15.        ],
       [ 0.83      ],
       [29.69911765],
       [23.        ],
       [18.        ],
       [39.        ],
       [21.        ],
       [29.69911765],
       [32.        ],
       [29.69911765],
       [20.        ],
       [16.        ],
       [30.        ],
       [34.5       ],
       [17.        ],
       [42.        ],
       [29.69911765],
       [35.        ],
       [28.        ],
       [29.69911765],
       [ 4.        ],
       [74.        ],
       [ 9.        ],
       [16.        ],
       [44.        ],
       [18.        ],
       [45.        ],
       [51.        ],
       [24.        ],
       [29.69911765],
       [41.        ],
       [21.        ],
       [48.        ],
       [29.69911765],
       [24.        ],
       [42.        ],
       [27.        ],
       [31.        ],
       [29.69911765],
       [ 4.        ],
       [26.        ],
       [47.        ],
       [33.        ],
       [47.        ],
       [28.        ],
       [15.        ],
       [20.        ],
       [19.        ],
       [29.69911765],
       [56.        ],
       [25.        ],
       [33.        ],
       [22.        ],
       [28.        ],
       [25.        ],
       [39.        ],
       [27.        ],
       [19.        ],
       [29.69911765],
       [26.        ],
       [32.        ]])

In [54]:
t[['embarked','deck']].isna().sum()

embarked      2
deck        688
dtype: int64

In [57]:
# we need to create a new object for str data
si2 = SimpleImputer(strategy='most_frequent')

In [59]:
t[['embarked','deck']][:3]

  embarked deck
0        S  NaN
1        C    C
2        S  NaN

In [60]:
t[['embarked','deck']].mode()

  embarked deck
0        S    C

In [58]:
si2.fit_transform(t[['embarked','deck']])

array([['S', 'C'],
       ['C', 'C'],
       ['S', 'C'],
       ...,
       ['S', 'C'],
       ['C', 'C'],
       ['Q', 'C']], dtype=object)

# Encoding Categorical data:

- Categorical data is data which has some categories such as,  Country


- Since machine learning model completely works on mathematics and numbers, but if our dataset would have a categorical variable, then it may create trouble while building the model. So it is necessary to encode these categorical variables into numbers.

In [ ]:
df[0]

In [ ]:
df[0].unique()

Categorical data is of 2 types:
    -Nominal data (where sequence order doesnt matter)
     Ex. Male/Female, CountryNames, ColorNames, VehicleName , ObjectNames
        
    - Ordinal data (where sequence order matters)
    Ex. Result, Rank, EducationLevel,Rating

In [ ]:
# using replace--> Assignment
df[0].replace({})

In [ ]:
# using map

# sklearn.preprocessing

## Label Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder()
#lets supply country data present at 0 index
lb.fit_transform(df[0])
#in above case labelencoder converted India as 2, France as 0 and germany as 1

In [ ]:
df[0].values

In [ ]:
lb.classes_
#LabelEncoder follows Alphabatic order a-z

In [ ]:
g = pd.DataFrame({'gender':['male','female','female','male','male','female'],
             'cat':['A','A','A','B','C','C']})
g

In [ ]:
lb2 = LabelEncoder()
#labelEncode accepts only 1D data
lb2.fit(g['gender'])

In [ ]:
lb2.transform(g.gender)

In [ ]:
lb2.classes_

In [ ]:
# will labelEncoder work on 2 columns
lb2.fit_transform(g)

In [ ]:
# i will use titanic dataset
# in which we have sex column will convert Male and Female in 1 and 0
import seaborn as sns
t = sns.load_dataset('titanic')
t['sex']

In [ ]:
#use lb2 to convert above series into 0 &1
lb2.fit_transform(t['sex'])

In [ ]:
new_data= [1,1,1,1,1,0,0,0,0,0,1,0,1,1,1,0,0,1,1,0,1]
new_data

In [ ]:
#Convert above 0 & 1 into Category male and female
lb2.inverse_transform(new_data)

In [ ]:
# Interview question:
# What are different ways to deal with Categorical data?
# How to convert categorical data using pandas
# how to convert categorical data using sklearn.preprocessing

# Dummy Variables:

- Dummy variables are those variables which have values 0 or 1. 


- The 1 value gives the presence of that variable in a particular column, and rest variables become 0. 


- With dummy encoding, we will have a number of columns equal to the number of categories.

In [ ]:
place = pd.DataFrame({'data':['Katraj','Camp','Hadapsar','Katraj','Katraj','Hadapsar','Camp','Camp','Hadapsar']})
place

In [ ]:
place.data.unique()

#### Wherever we have categorical data ina column, there u have to apply OneHotEncoder

In [ ]:
#Encoding for dummy variables using OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ob = OneHotEncoder()

In [ ]:
convert = ob.fit_transform(place)
convert
#return sparse matrix

In [ ]:
final = convert.toarray()
final

In [ ]:
#check the sequence of conversion
ob.categories_

#once we get converted category into columns
#then next step is to add thse conversions in original dataframe

In [ ]:
place[:2]

In [ ]:
final[:2]

In [ ]:
#convert final into dataFrame
fin = pd.DataFrame(final,dtype=int)
d1 = pd.concat([place,fin],axis=1)
d1

In [ ]:
d1.drop(columns='data',inplace=True)

In [ ]:
d1

In [ ]:
ob.categories_

In [ ]:
#rename columns
d1.columns= ob.categories_

In [ ]:
d1

## Using pandas: get_dummies()

#### alternative option and simple option to OneHot is get_dummies() of pandas

In [ ]:
place

In [ ]:
pd.get_dummies(place)

#### Dummy Variable trap

In [ ]:
#How to deal with categorical data
# WHat are different encoding techniques?
# difference btween onehot and get_dummies
# what is dummy variable trap

# Feature Scaling

- Feature scaling is the final step of data preprocessing in machine learning. 


- It is a technique to standardize the independent variables of the dataset in a specific range. 


- In feature scaling, we put our variables in the same range and in the same scale so that no any variable dominate the other variable. 

#age = 30,40,50
#salary = 65000,56000,150000,240000

### There are 2 types:
    - Standardization x-M(mue/meanofX)/sigma (std deviation)
    - Normalization x- min(x)/(max(x)-min(x))

### StandardScaler

In [ ]:
# StandardScaler   # x -mean(total_x)/std(total_x) -3 0 +3

In [ ]:
#load boston_housing dataset
import numpy as np
import pandas as pd

df = pd.read_csv('boston.csv')
df.head(2)

In [ ]:
df.describe().T

In [ ]:
#load StandardScalar
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
new = sc.fit_transform(df)
new

In [ ]:
sc.mean_

In [ ]:
sc.n_features_in_

In [ ]:
#lets convert  new to df
ndf = pd.DataFrame(new)
ndf.head(2)

In [ ]:
ndf.describe().T

In [ ]:
#now lets check hist plot of both
#df
df.CRIM.plot.hist()

In [ ]:
ndf[0].plot.hist()

In [ ]:
ndf[0].plot(kind='kde')

In [ ]:
df['CRIM'].plot(kind='kde')

### MinMaxScaler

In [ ]:
# MinMaxScaler  # x- min()/(max()-min())
#range of minMax scalar is 0 to 1

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mx = MinMaxScaler()
norm = mx.fit_transform(df)
normdf = pd.DataFrame(norm)
normdf

In [ ]:
normdf[0].plot.hist()

In [ ]:
normdf.describe().T

### Binarizer

In [ ]:
# Binarizer is threshold based
# threshold is depends on condition
# if condition is True then convert samples to 1
# else 0
"""
Values greater than the threshold map to 1, while values less than
or equal to the threshold map to 0. With the default threshold of 0,
only positive values map to 1.
"""

In [ ]:
from sklearn.preprocessing import Binarizer

In [ ]:
#select target column from df
#which contains prices
out = df[['target']]
out.head()

In [ ]:
bi = Binarizer(threshold=28)
# values >28 ==>1
#values <=28 ==> 0

In [ ]:
bi.fit_transform(out)